.intro {
    margin-left: 20%;

    &__info {
        @include flex(row, flex-start, center);
        background: rgb(0, 0, 200);
        
        &__block {
            color: white;
            padding: 30px;
            width: 60%;
        }

        &__img {
            height: 360px;
            width: 360px;
            background-image: url(img/pic01.jpg);
        }
    }
}

.intro__info_2{
    background: rgb(0, 0, 150);
    
    &__img {
        background-image: url(img/pic02.jpg);
    }
}

.intro__info_3{
    background: rgb(0, 0, 100);

    &__img {
        background-image: url(img/pic03.jpg);
    }
}

@media(max-width: map-get($breakpoints, table)){
    .intro {
        margin-left: 0%;
    }
}

@media(max-width: map-get($breakpoints, mobile)){
    .intro__info{
        @include flex(column, flex-start, stretch);

        &__block {
            padding: 50px 30px 50px 30px;;
            width: 100%;
        }

        &__img {
            height: 420px;
            width: 420px;
            background-image: url(img/pic01.jpg);
        }
    }
}

 


