.sidebar {
    position: fixed;
    width: 20%;
    background-color: #0d0d3d;
    height: 100%;
    @include flex(column, center, flex-end);
    padding: 30px;
    z-index: 100;

    &__menu {
        color: rgb(209, 186, 240);
        width: 100%;
        height: 40%;
        @include flex(column, space-around, flex-end);
    }
}

@media(max-width: map-get($breakpoints, table)){
    .sidebar {
        width: 100%;
        height: 10%;

        &__menu {
            @include flex(row, center, flex-start);
            width: 100%;
            height: 40%;
        }
    }

    .menu {
        font-size: 12px;
        margin: 0px 20px 0px 0px;

       &:last-child {
        margin: 0px 0px 0px 0px;
       } 
    }
}

@media(max-width: map-get($breakpoints, mobile)){
    .sidebar{
        visibility: hidden;
    }
}
